balen_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="studentPortfolio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="student">
        <xs:sequence>
            <xs:element name="personalInfo" type="personalInfo"/>
            <xs:element name="skills" type="skills"/>
            <xs:element name="projects" type="projects"/>
            <xs:element name="contact" type="contact"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="personalInfo">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="studentID" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="program" type="xs:string"/>
            <xs:element name="year" type="xs:string"/>
            <xs:element name="about" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="skills">
        <xs:sequence>
            <xs:element name="prog_lang" type="prog_lang"/>
            <xs:element name="technical" type="technical"/>
            <xs:element name="softskills" type="softskills"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="prog_lang">
        <xs:sequence>
            <xs:element name="program" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="technical">
        <xs:sequence>
            <xs:element name="tech" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="softskills">
        <xs:sequence>
            <xs:element name="soft" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="projects">
        <xs:sequence>
            <xs:element name="project" type="project" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="project">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="date" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="contact">
        <xs:sequence>
            <xs:element name="personalemail" type="xs:string"/>
            <xs:element name="contactnum" type="xs:string"/>
            <xs:element name="socials" type="socials"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="socials">
        <xs:sequence>
            <xs:element name="facebook" type="xs:string"/>
            <xs:element name="github" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
