Batomalaque_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="portfolio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="studentType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- student -->
    <xs:complexType name="studentType">
        <xs:sequence>
            <xs:element name="name" type="nameType"/>
            <xs:element name="contact" type="contactType"/>
            <xs:element name="skills" type="skillsType"/>
            <xs:element name="project" type="projectType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- name -->
    <xs:complexType name="nameType">
        <xs:sequence>
            <xs:element name="first" type="xs:string"/>
            <xs:element name="last" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- contact -->
    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="photo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- skills -->
    <xs:complexType name="skillsType">
        <xs:sequence>
            <xs:element name="skill" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- project -->
    <xs:complexType name="projectType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="year" type="xs:gYear"/>

            <xs:element name="images" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="img" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

</xs:schema>
