bequibel_scheme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="studentPortfolio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" type="studentType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="studentType">
    <xs:sequence>
      <xs:element name="name" type="nameType"/>
      <xs:element name="contact" type="contactType"/>
      <xs:element name="studentID" type="IDType"/>
      <xs:element name="summary" type="xs:string" minOccurs="0"/>
      <xs:element name="education" type="educationType" minOccurs="0"/>
      <xs:element name="skills" type="skillsType" minOccurs="0"/>
      <xs:element name="projects" type="projectsType" minOccurs="0"/>
      <xs:element name="awards" type="awardsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="nameType">
    <xs:sequence>
      <xs:element name="first" type="xs:string"/>
      <xs:element name="last" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contactType">
    <xs:sequence>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="address" type="addressType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

    <xs:complexType name="IDType">
    <xs:sequence>
      <xs:element name="studID" type="xs:string"/>
  </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element name="street" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="educationType">
    <xs:sequence>
      <xs:element name="degree" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="level" type="xs:string"/>
            <xs:element name="school" type="xs:string"/>
            <xs:element name="year" type="xs:gYear" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="skillsType">
    <xs:sequence>
      <xs:element name="skill" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="level" type="xs:string" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="projectsType">
    <xs:sequence>
      <xs:element name="project" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="role" type="xs:string" minOccurs="0"/>
            <xs:element name="link" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="year" type="xs:gYear" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="id" type="xs:ID" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardsType">
    <xs:sequence>
      <xs:element name="award" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="year" type="xs:gYear" minOccurs="0"/>
            <xs:element name="issuer" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
