dequiros_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="student_portfolio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student">
                    <xs:complexType>
                        <xs:sequence>
                            
                            <xs:element name="student_name">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="first_name" type="xs:string"/>
                                        <xs:element name="second_name" type="xs:string" minOccurs="0"/>
                                        <xs:element name="middle_name" type="xs:string"/>
                                        <xs:element name="last_name" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="student_number" type="xs:string"/>
                            <xs:element name="student_email" type="xs:string"/>
                            
                            <xs:element name="student_course">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="program" type="xs:string"/>
                                        <xs:element name="specialization" type="xs:string"/>
                                        <xs:element name="year" type="xs:string"/>
                                        <xs:element name="section" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="college" type="xs:string"/>
                            <xs:element name="date_of_birth" type="xs:string"/>

                            <xs:element name="skills">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="skill" type="xs:string" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>