marimla_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="portfolio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="name" type="xs:string"/>
              <xs:element name="age" type="xs:string"/>
              <xs:element name="course" type="xs:string"/>
              <xs:element name="year" type="xs:integer"/>

              <xs:element name="skills">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="skill" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="projects">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="project" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="title" type="xs:string"/>
                          <xs:element name="description" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
