rodrigueza_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <xsd:element name="portfolio">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="profile" type="ProfileType"/>
                <xsd:element name="showcase" type="ShowcaseType"/>
                <xsd:element name="skills" type="SkillsType"/>
                <xsd:element name="academicBackground" type="AcademicBackgroundType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- PROFILE -->
    <xsd:complexType name="ProfileType">
        <xsd:sequence>
            <xsd:element name="studentID" type="xsd:string"/>
            <xsd:element name="firstname" type="xsd:string"/>
            <xsd:element name="lastname" type="xsd:string"/>
            <xsd:element name="tagline" type="xsd:string"/>
            <xsd:element name="program" type="xsd:string"/>
            <xsd:element name="yearLevel" type="xsd:positiveInteger"/>
            <xsd:element name="contact" type="ContactType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ContactType">
        <xsd:sequence>
            <xsd:element name="email" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- SHOWCASE -->
    <xsd:complexType name="ShowcaseType">
        <xsd:sequence>
            <xsd:element name="project" type="ProjectType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProjectType">
        <xsd:sequence>
            <xsd:element name="title" type="xsd:string"/>
            <xsd:element name="summary" type="xsd:string"/>
            <xsd:element name="year" type="xsd:gYear"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- SKILLS -->
    <xsd:complexType name="SkillsType">
        <xsd:sequence>
            <xsd:element name="skill" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="level" type="xsd:string" use="required"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ACADEMIC BACKGROUND -->
    <xsd:complexType name="AcademicBackgroundType">
        <xsd:sequence>
            <xsd:element name="education" type="EducationType" maxOccurs="4"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EducationType">
        <xsd:sequence>
            <xsd:element name="school" type="xsd:string"/>
            <xsd:element name="yearStart" type="xsd:gYear"/>
            <xsd:element name="yearEnd" type="xsd:string"/>
            <xsd:element name="program" type="xsd:string" minOccurs="0"/>
            <xsd:element name="strand" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="level" type="xsd:string" use="required"/>
    </xsd:complexType>

</xsd:schema>
