sarmiento_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="studentPortfolio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="secondName" type="xs:string"/>
                    <xs:element name="middlename" type="xs:string"/>
                    <xs:element name="lastName" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="studentNumber" type="xs:string"/>
              <xs:element name="studentEmail" type="xs:string"/>

              <xs:element name="course">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="program" type="xs:string"/>
                    <xs:element name="major" type="xs:string"/>
                    <xs:element name="year" type="xs:string"/>
                    <xs:element name="section" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="achievements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cert" type="xs:string" maxOccurs="unbounded"/>
                    <xs:element name="award" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="hobbies">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hobby" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
