sultan_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="portfolio">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="basicInfo">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="phone" type="xsd:string"/>
                            <xsd:element name="email" type="xsd:string"/>
                            <xsd:element name="instagram" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="aboutMe" type="xsd:string"/>

                <xsd:element name="technicalSkills">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="skill" type="xsd:string" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="softSkills">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="skill" type="xsd:string" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
