yabes_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="studentPortfolio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="age" type="xs:integer"/>
                            <xs:element name="course" type="xs:string"/>
                            <xs:element name="yearLevel" type="xs:integer"/>
                            <xs:element name="email" type="xs:string"/>
                            <xs:element name="phone" type="xs:string"/>
                            <xs:element name="aboutMe" type="xs:string"/>
                            <xs:element name="personalInfo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="address" type="xs:string"/>
                                        <xs:element name="birthdate" type="xs:string"/>
                                        <xs:element name="status" type="xs:string"/>
                                        <xs:element name="citizenship" type="xs:string"/>
                                        <xs:element name="languages" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="skills">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="skill" type="xs:string" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
